/* AboutUs.css */

.about-us-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  gap: 20px;
}

.about-company {
  margin-bottom: 20px;
}

.about-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  background-color: rgba(94, 146, 153, 0.3);
  padding: 20px;
}

.footer-header {
  text-align: center;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-subtitle {
  font-size: 1rem;
}

.partner-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.partner-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  background-image: url("./Pictures/partner.png");
  background-size: cover;
  background-repeat: none;
}

@media (min-width: 1024px) {
  .main-content {
    flex-direction: row;
    text-align: left;
  }

  .about-content-container {
    flex-direction: row;
    gap: 40px;
  }

  .about-company {
    flex: 1;
    text-align: left;
  }

  .about-image-container {
    flex: 2;
  }

  .image {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .main-content {
    padding: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer-title {
    font-size: 1.25rem;
  }

  .footer-subtitle {
    font-size: 0.875rem;
  }
  .about-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 100%;
  }

  .partner-image {
    width: 80px;
    height: 80px;
    background-image: url("./Pictures/partner.png");
    background-size: cover;
    background-repeat: none;
  }
}

@media (max-width: 768px) {
  .about-content-container {
    flex-direction: column;
  }

  .about-company {
  }
  .about-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 100%;
  }

  .main-content {
    padding: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer-title {
    font-size: 1.25rem;
  }

  .footer-subtitle {
    font-size: 0.875rem;
  }

  .partner-image {
    width: 80px;
    height: 80px;
    background-image: url("./Pictures/partner.png");
    background-size: cover;
    background-repeat: none;
  }
}

@media (max-width: 480px) {
  .about-company {
    margin-bottom: 60px;
  }

  .about-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 100%;
  }

  .footer-title {
    font-size: 1rem;
  }

  .footer-subtitle {
    font-size: 0.75rem;
  }

  .partner-image {
    width: 60px;
    height: 60px;
    background-image: url("./Pictures/partner.png");
    background-size: cover;
    background-repeat: none;
  }
}
