/* 
main colors:
shades:
#053b47
#5e9299
#e88867
tents:
##ffc1a2
#ffeae0
#faf3ee
*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 62.5%;
}
*:focus {
  outline: none;
}
/* .input {
  width: 60%;
} */

.login-container {
  background: url("./Pictures/IMG_4465-min.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: none;
  display: grid;

  grid-template-columns: 0.6fr 0.4fr;
  font-size: 62.5%;
}
.form-header {
  display: flex;
  gap: 3.2rem;
  margin: 1.2rem 0;
  letter-spacing: 1.3px;
  font-weight: 500;
}
.form-header p {
  font-size: 2rem;
  color: #053b47;
}
.btn-back {
  color: #053b47;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.form {
  font-family: sans-serif;
  display: flex;
  padding: 0 10% 0 5%;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding-left: 48px;
  font-family: "Roboto", sans-serif;
  background-color: #faf3ee;
  position: relative;
  box-shadow: 0 0.4rem 6rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem 0 0 1.2rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 1.5rem;
  padding: 1rem;
  background-color: #cedcde;
  border-radius: 4px;
}

.social-icon:nth-child(1) {
  background-image: url(Pictures/google-logo.png);
  background-size: cover;
  background-repeat: none;
  width: 2.4rem;
  height: 2.4rem;
}

.social-icon:nth-child(2) {
  background-image: url(Pictures/facebook-new.png);
  background-size: cover;
  background-repeat: none;
  width: 2.4rem;
  height: 2.4rem;
}
.signup-link {
  font-size: 0.7rem;
  font-weight: 900;
  color: #053b47;
}
.forget-container {
  font-size: 0.7rem;
  color: #777;
}
.input-container {
  width: 100%;
}
.icon:nth-child(1),
.icon:nth-child(2),
.icon:nth-child(3) {
  background-size: cover;
  background-repeat: none;
  width: 32px;
  height: 32px;
  margin-right: 1.2rem;
}

.password-icon {
  color: #053b47;
}

input[type="submit"] {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background: #053b47;
  border: none;

  color: #fff;
  padding: 1rem 2rem;
}

input[type="submit"]:hover {
  background: #053b47;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.btn-forward {
  background-color: #053b47;
  padding: 6px 24px;
  font-weight: 400;
  color: #faf3ee;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

label {
  font-size: 0.7rem;
  letter-spacing: 0.6px;
}

@media (min-width: 537px) and(max-width: 836px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 62.5%;
    background-size: cover;
    background-repeat: none;
  }

  .form {
    width: 100%;
    height: 100vh;
  }
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 32px;
  }
  .input input {
    padding-right: 32px;
  }
  fieldset.title {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
  }
  fieldset.title legend {
    padding: 5px 10px;
  }
}

fieldset.title {
  border-top: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
}
fieldset.title legend {
  padding: 5px 10px;
}
@media (max-width: 536px) {
  body {
    background-image: none;
  }
  .input-container {
    width: 66.67%;
  }
  .form {
    background-image: url("Pictures/background.png");
    background-size: cover;
    background-repeat: none;
    display: flex;
    justify-content: center;
    padding: 0 24px;
    gap: 6rem;
    justify-content: stretch;
  }
  .name-container {
    width: 100%;
  }

  .login-container {
    grid-template-columns: 1fr;

    padding: 0;
    height: 100%;
    width: 100vw;
  }
  .form-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
  }
  .form-header p {
    font-size: 20px;
    font-weight: 300;
  }

  .btn-forward button {
    padding: 0.8px 3.2rem;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50.55px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    height: 1rem;
    padding: 1rem;
    font-size: 12px;
  }
  input[type="submit"] {
    font-size: 16px;
  }
  fieldset.title {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
  }
  fieldset.title legend {
    padding: 5px 10px;
  }
}
